{% block search_form %}
<div class="header-search">
		<form method="post">
		{% csrf_token %}
		{{ form.as_p }}

		<button type="submit" class="btn btn-info">
		  <span class="glyphicon glyphicon-search"></span> Search
		</button>
		</form>
		<div class="col-sm">
							<a href="{% url 'speech_result' %} "class="btn btn-info"><span class="glyphicon glyphicon-search"></span> Voice Search</a>
		</div>
</div>

{% endblock %}