<h2>User --{{ curt_user }} </h2>

{% if curt_products %}
    <ul>
    	<h2>User --{{ cart_products.user }} </h2>
        <h3> cart_table List: </h3>
        {% for item in curt_products %}
            <li> {{ item.products }} ----</li>
        {% endfor %}
    </ul>
    
{% else %}
    <h3> You don't have any product in your cart_table </h3>
{% endif %}