{% extends 'base.html'%}

{% block content %}


	<div class="container">

	<h2>Shopping Cart</h2>
	<h3>User : {{ user }} </h3>
	<table class="table table-striped">
		<thead>
			<tr>
				<th>Image</th>
				<th>Product</th>
				<th>Quantity</th>
				<th>Remove</th>
				<th>Unit Price</th>
				<th>Price</th>

			</tr>
		</thead>
		<tbody>
			{% for item in cart %}
				{% with product=item.product %}
				<tr>
					<td>	
						<a href="{{ product.get_absolute_url }}" >
							{% comment %}
							<img src="{% if product.image_url %} {{ product.image_url }} {% endif %}">
							{% endcomment %}
						</a>
					</td>
					<td><a href="{% url 'detail' product.id %}" >{{ product.title }}</a></td>
					<td>
						{% comment %}
						<form action="{% url "cart_add" product.id %}" method ="post">
							{{ item.update_quantity_form.quantity }}
							{{ item.update_quantity_form.update }}
							<input type="submit" value="Update">
							{% csrf_token %}

						</form>
						{% endcomment %}
						{{ item.quantity }}

					</td>
					<td>	
						<a href="{% url "cart_remove" product.id %}">Remove</a>
					</td>
					<td clsas="num">BDT{{ item.price }}</td>
					<td class="num">BDT {{ item.total_price }}</td>
				</tr>
				{% endwith %}
			{% endfor %}
			<tr class ="total">
				<td>Total</td>
				<td colspan="4"></td>
				<td class="num">BDT {{ cart.get_total_price }}</td>
			</tr>
		</tbody>
	</table>

	<br>
	<div class="col-sm">
						<a href="{% url 'products' %}" class="btn btn-success">Product Page</a>
						<a href="{% url 'order_create' %}" class="btn btn-success">Check Out</a>
							
	</div>
</div>

{% endblock %}