{% extends 'base.html' %}

{% block content %}
<div class="container">

	{% if all_products %}

	<ul>

		
		<h2 class="bg-info">Category {{ category_name }}</h2>

		{% for item in all_products %}

			<li> <a href="{% url 'detail' item.id %}" class="btn btn-link">{{ item.title }}</a></li>
			<h5> </h5>

			{% comment %}
			<li> <a href="{% url 'detail' item.id %}" class="btn btn-link">{{ item.title }}</a></li>
			{% endcomment %}

		{% endfor %}
	</ul>
	{% else %}

	<h2>No product Available</h2>

	{% endif %} 
</div>
{% endblock %}
