{% extends 'base.html' %}


{% block content %}
<div class="container">
	<br>
	{% if item.img %}
	<img src="{{ item.img.url }}" width="180" height="130">
	<br>
	{% else %}
	<p>Image Not Available</p>
	{% endif %}
	<h2>Name-{{ item.title}}</h2>
	<h3>Category-{{ item.category }}</h3>

	<ul>
		<!--Check Item Stock-->
		<li>Price - {{ item.price }}</li>
		{% if item.quantity > 0 %}
			<li> Available - {{ item.quantity }}</li>
		{% else %}
			<li>Out Of Stock <li>
		{% endif %}
		
	</ul>

	<!--Add To Cart Form-->
	<form action="{% url 'cart_add' item.id %}" method="post">
		{{ cart_product_form }}
		{% csrf_token %}
		{% comment %}
		<input type="submit" value="Add To Cart">
		{% endcomment %}
		<button type="submit" class="btn btn-info",value="Add To Cart">
		   Add To Cart
		</button>
	</form>

	{% if error_messege %}
		<p><strong>{{ errror_messege }}</p>></strong>
	{% endif %}

</div>
{% endblock %}