{% extends 'base.html' %}

{% block content %}

{% if all_category %}

<ul>

	
	<h2 class="text-primary">Categories</h2>
	{% for item in all_category %}
	
		<li> <a href="{% url 'category_product' item.id %}" class="btn btn-link">{{ item.name }}</a></li>
		<h5 class="text-warning"> Details-{{ item.description }}</h5>

		{% comment %}
		<li> <a href="{% url 'detail' item.id %}" class="btn btn-link">{{ item.title }}</a></li>
		{% endcomment %}

	{% endfor %}
</ul>
{% else %}

<h2>No product Available</h2>

{% endif %} 

{% endblock %}