<!-- templates/registration/login.html -->
{% extends 'base.html' %}


{% block content %}
<div class="container">
	<h2>Login</h2>
	<form method="post">
	  {% csrf_token %}
	  {{ form.as_p }}
	  <button type="submit" class="btn btn-primary">Login</button>
	</form>
	<br>
	 <p><strong>-- OR --</strong></p>

	   <a href="{% url 'social:begin' 'twitter' %}" class="btn btn-primary">Login with Twitter</a>
		<a href="{% url 'social:begin' 'github' %}" class="btn btn-primary">Login with GitHub</a>
</div>
{% endblock %}
