{% extends 'base.html' %}
{% block content %}
<div class="container">
<h1>Thank You</h1>

<p>
	Your Order has been succesfully completed. Your Order number is <strong>{{ order.id }}</strong>
</p>

</div>
{% endblock %}
