{% extends 'base.html' %}
{% block content %}
<div class="container">
	<h1>Checkout</h1>

	<div class ="order-info">
		<h3>Your Order</h3>

		<ul>
			{% for item in cart %}
				<li>{{ item.quantity }}x {{ item.product.title }} <span>BDT{{ item.total_price }}</span></li>
			{% endfor %}

		</ul>
		<p>Total : BDT{{ cart.get_total_price }}</p>

	</div>

	<form action="." method="post" class="order-form">
		{{ form.as_p }}
		<p><input type="submit" value="Place Orde"></p>
		{% csrf_token %}
		
	</form>
{% endblock %}
</div>