{% load staticfiles %}


<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!-- The above 3 meta tags *must* come first in the head any other head content must come *after* these tags -->

	<title>Bazar-Kori HTML Template</title>

	<!-- Google font -->
	<link href="https://fonts.googleapis.com/css?family=Hind:400,700" rel="stylesheet">

	<!-- Bootstrap -->
	<link type="text/css" rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>

	<!-- Slick -->
	<link type="text/css" rel="stylesheet" href="{% static 'css/slick.css' %}" />
	<link type="text/css" rel="stylesheet" href="{% static 'css/slick-theme.css' %}" />

	<!-- nouislider -->
	<link type="text/css" rel="stylesheet" href="{% static 'css/nouislider.min.css' %}" />

	<!-- Font Awesome Icon -->
	<link rel="stylesheet" href="{% static 'css/font-awesome.min.css' %}">

	<!-- Custom stlylesheet -->
	<link type="text/css" rel="stylesheet" href="{% static 'css/style.css' %}" />

	<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
	<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
	<!--[if lt IE 9]>
		  <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
		  <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
		<![endif]-->

	 

</head>

<body>
	<div class="container-fluid">
		<!-- HEADER -->
		<header>
			<!-- top Header -->
			<div id="top-header">
				<div class="container">
					<div class="pull-left">
						<span>Welcome to Bazar-Kori!</span>
					</div>
					<div class="pull-right">
						<ul class="header-top-links">
							
							<li class="dropdown default-dropdown">
								<a class="dropdown-toggle" data-toggle="dropdown" aria-expanded="true">ENG <i class="fa fa-caret-down"></i></a>
								<ul class="custom-menu">
									<li><a href="#">English (ENG)</a></li>
									
								</ul>
							</li>
							<li class="dropdown default-dropdown">
								<a class="dropdown-toggle" data-toggle="dropdown" aria-expanded="true">USD <i class="fa fa-caret-down"></i></a>
								<ul class="custom-menu">
									<li><a href="#">BDT ($)</a></li>
									
								</ul>
							</li>
						</ul>
					</div>
				</div>
			</div>
			<!-- /top Header -->

			<!-- header -->
			<div id="header">
				<div class="container">
					<div class="pull-left">
						<!-- Logo -->
						
							<a class="logo" href="#">
								<img src="{% static 'img/logob1.png' %}"  class="img-rounded" alt="Cinque Terre" width="180" height="180">
							</a>
						
						<!-- /Logo -->

						<!-- Search -->
						<!--Add Search Form Here-->
						{% block search_content %}
	    				{% endblock %}

						<!-- /Search -->
					</div>
					<div class="pull-right">
						<ul class="header-btns">
							<!-- Account -->
							<li class="header-account dropdown default-dropdown">
								<div class="dropdown-toggle" role="button" data-toggle="dropdown" aria-expanded="true">
									<div class="header-btns-icon">
										<i class="fa fa-user-o"></i>
									</div>
									<strong class="text-uppercase">My Account <i class="fa fa-caret-down"></i></strong>
								</div>
								<a href="{% url 'login' %}" class="text-uppercase">Login</a> / <a href="{% url 'accounts:signup' %}" class="text-uppercase">Join</a>
								<ul class="custom-menu">
									<li><a href="{% url 'login' %}"><i class="fa fa-unlock-alt"></i> Login</a></li>
									<li><a href="{% url 'accounts:signup' %}"><i class="fa fa-user-plus"></i> Create An Account</a></li>
								</ul>
							</li>

							<!-- /Account -->

							<!-- Cart -->
							<li class="header-cart dropdown default-dropdown">
								
								
								{% with total_items=cart|length %}
									{% if cart|length > 0 %}
										Your Cart:
										<a href="{% url "cart_detail" %}" class="btn btn-info">
											{{ total_items }} item {{ total_item|pluralize }}, BDT {{ cart.get_total_price }}
										</a>
									{% else %}
										Your Cart Is Empty.
									{% endif %}
								{% endwith %}
							</li>
							<!-- /Cart -->

							<!-- Mobile nav toggle-->
							<li class="nav-toggle">
								<button class="nav-toggle-btn main-btn icon-btn"><i class="fa fa-bars"></i></button>
							</li>
							<!-- / Mobile nav toggle -->
						</ul>
					</div>
				</div>
				<!-- header -->
			</div>
			<!-- container -->
		</header>
		<!-- /HEADER -->

		<!-- NAVIGATION -->
		<div id="navigation">
			<!-- container -->
			<div class="container">
				<div id="responsive-nav">
					<!-- category nav -->
					<div class="category-nav show-on-click">
						<span class="category-header">Categories <i class="fa fa-list"></i></span>
						<ul class="category-list">
							<li class="dropdown side-dropdown">
								<a class="dropdown-toggle" data-toggle="dropdown" aria-expanded="true">Fresh Fruits <i class="fa fa-angle-right"></i></a>
								<div class="custom-menu">
									<div class="row">
										<div class="col-md-4">
											<ul class="list-links">
												<li>
													<h3 class="list-links-title">Categories</h3></li>
												<li><a href="#">Fruits</a></li>
												<li><a href="#">Toileteries</a></li>
												<li><a href="#">Vegetables</a></li>
											
											</ul>
											<hr class="hidden-md hidden-lg">
										</div>
										<div class="col-md-4">
											<ul class="list-links">
												<li>
													<h3 class="list-links-title">Categories</h3></li>
												
												<li><a href="#">Vegetables</a></li>
												<li><a href="#">Fruits</a></li>
												<li><a href="#">Toileteries</a></li>
												
											</ul>
											<hr class="hidden-md hidden-lg">
										</div>
										<div class="col-md-4">
											<ul class="list-links">
												<li>
													<h3 class="list-links-title">Categories</h3></li>
												
												
											</ul>
										</div>
									</div>
									<div class="row hidden-sm hidden-xs">
										<div class="col-md-12">
											<hr>
											<a class="banner banner-1" href="#">
												
												<div class="banner-caption text-center">
													<h2 class="white-color">NEW COLLECTION</h2>
													<h3 class="white-color font-weak">HOT DEAL</h3>
												</div>
											</a>
										</div>
									</div>
								</div>
							</li>
							
							<li class="dropdown side-dropdown"><a class="dropdown-toggle" data-toggle="dropdown" aria-expanded="true">Grocery <i class="fa fa-angle-right"></i></a>
								<div class="custom-menu">
									<div class="row">
										<div class="col-md-4">
											<ul class="list-links">
												<li>
													<h3 class="list-links-title">Categories</h3></li>
												
											</ul>
											<hr>
											<ul class="list-links">
												<li>
													<h3 class="list-links-title">Categories</h3></li>
												
											</ul>
											<hr class="hidden-md hidden-lg">
										</div>
										<div class="col-md-4">
											<ul class="list-links">
												<li>
													<h3 class="list-links-title">Categories</h3></li>
												
											</ul>
											<hr>
											<ul class="list-links">
												<li>
													<h3 class="list-links-title">Categories</h3></li>
												
											</ul>
										</div>
										<div class="col-md-4 hidden-sm hidden-xs">
											<a class="banner banner-2" href="#">
												
												<div class="banner-caption">
													<h3 class="white-color">NEW<br>COLLECTION</h3>
												</div>
											</a>
										</div>
									</div>
								</div>
							</li>
						
							<li class="dropdown side-dropdown">
								
								<div class="custom-menu">
									<div class="row">
										<div class="col-md-4">
											<ul class="list-links">
												<li>
													<h3 class="list-links-title">Categories</h3></li>
												
											</ul>
											<hr>
											<ul class="list-links">
												<li>
													<h3 class="list-links-title">Categories</h3></li>
												
											</ul>
											<hr class="hidden-md hidden-lg">
										</div>
										<div class="col-md-4">
											<ul class="list-links">
												<li>
													<h3 class="list-links-title">Categories</h3></li>
												
											</ul>
											<hr>
											<ul class="list-links">
												<li>
													<h3 class="list-links-title">Categories</h3></li>
												
											</ul>
											<hr class="hidden-md hidden-lg">
										</div>
										<div class="col-md-4">
											<ul class="list-links">
												<li>
													<h3 class="list-links-title">Categories</h3></li>
												
											</ul>
											<hr>
											<ul class="list-links">
												<li>
													<h3 class="list-links-title">Categories</h3></li>
												
											</ul>
										</div>
									</div>
								</div>
							</li>
							>
							<li><a href="#">View All</a></li>
						</ul>
					</div>
					<!-- /category nav -->

					<!-- menu nav -->
					<div class="menu-nav">
						<span class="menu-header">Menu <i class="fa fa-bars"></i></span>
						<ul class="menu-list">
							<li><a href="{% url 'home' %}">Home</a></li>
							<li><a href="{% url 'products' %}">Shop</a></li>
							
								<div class="custom-menu">
									<div class="row">
										<div class="col-md-4">
											<ul class="list-links">
												<li>
													<h3 class="list-links-title">Categories</h3></li>
												
											</ul>
											<hr class="hidden-md hidden-lg">
										</div>
										<div class="col-md-4">
											<ul class="list-links">
												<li>
													<h3 class="list-links-title">Categories</h3></li>
												
											</ul>
											<hr class="hidden-md hidden-lg">
										</div>
										<div class="col-md-4">
											<ul class="list-links">
												<li>
													<h3 class="list-links-title">Categories</h3></li>
												
											</ul>
										</div>
									</div>
									<div class="row hidden-sm hidden-xs">
										<div class="col-md-12">
											<hr>
											<a class="banner banner-1" href="#">
												

												<div class="banner-caption text-center">
													<h2 class="white-color">NEW COLLECTION</h2>
													<h3 class="white-color font-weak">HOT DEAL</h3>
												</div>
											</a>
										</div>
									</div>
								</div>
							</li>
							<li class="dropdown mega-dropdown full-width"><a class="dropdown-toggle" data-toggle="dropdown" aria-expanded="true">Fruit <i class="fa fa-caret-down"></i></a>
								<div class="custom-menu">
									<div class="row">
										<div class="col-md-3">
											<div class="hidden-sm hidden-xs">
												<a class="banner banner-1" href="#">
													
													<div class="banner-caption text-center">
														<h3 class="white-color text-uppercase">Grocery</h3>
													</div>
												</a>
												<hr>
											</div>
											<ul class="list-links">
												<li>
													<h3 class="list-links-title">Categories</h3></li>
												
											</ul>
										</div>
										<div class="col-md-3">
											<div class="hidden-sm hidden-xs">
												<a class="banner banner-1" href="#">
													
													<div class="banner-caption text-center">
														<h3 class="white-color text-uppercase">Men’s</h3>
													</div>
												</a>
											</div>
											<hr>
											<ul class="list-links">
												<li>
													<h3 class="list-links-title">Categories</h3></li>
												>
											</ul>
										</div>
										<div class="col-md-3">
											<div class="hidden-sm hidden-xs">
												<a class="banner banner-1" href="#">
													
													<div class="banner-caption text-center">
														<h3 class="white-color text-uppercase">Accessories</h3>
													</div>
												</a>
											</div>
											<hr>
											<ul class="list-links">
												<li>
													<h3 class="list-links-title">Categories</h3></li>
												
											</ul>
										</div>
										<div class="col-md-3">
											<div class="hidden-sm hidden-xs">
												<a class="banner banner-1" href="#">
												
													<div class="banner-caption text-center">
														<h3 class="white-color text-uppercase">Bags</h3>
													</div>
												</a>
											</div>
											<hr>
											<ul class="list-links">
												<li>
													<h3 class="list-links-title">Categories</h3></li>
												
											</ul>
										</div>
									</div>
								</div>
							</li>
							
							<li class="dropdown default-dropdown"><a class="dropdown-toggle" data-toggle="dropdown" aria-expanded="true">Pages <i class="fa fa-caret-down"></i></a>
								<ul class="custom-menu">
									<li><a href="{% url 'home' %}" class="btn btn-primary">Home</a></li>
									<li><a href="{% url 'products' %}" class="btn btn-success">Product Page</a></li>
									<li><a href="{% url 'search_result' %} "class="btn btn-info">Search Page</a></li>
									<li><a href="{% url 'cart_detail' %} "class="btn btn-info">Shopping Cart</a></li>
								</ul>
							</li>
						</ul>
					</div>
					<!-- menu nav -->
				</div>
			</div>
			<!-- /container -->
		</div>
		<!-- /NAVIGATION -->

		<!-- BREADCRUMB -->
		<div id="breadcrumb">
			<div class="container">
				<ul class="breadcrumb">
					<li><a href="#">Home</a></li>
					<li class="active">Blank</li>
				</ul>
			</div>
		</div>
		<!-- /BREADCRUMB -->

		<!-- /Block For Home -->
		<!-- HOME -->

		<div id="home">
			<!-- Content Block -->
					{% block content %}
	    			{% endblock %}
			
		</div>
		<br>
		<br>
		
		 <a href="{% url 'logout' %}" >logout</a>

		<!-- FOOTER -->
		<footer id="footer" class="section section-grey">
			<!-- container -->
			<div class="container">
				<!-- row -->
				<div class="row">
					<!-- footer widget -->
					<div class="col-md-3 col-sm-6 col-xs-6">
						<div class="footer">
							<!-- footer logo -->
							<div class="footer-logo">
								<a class="logo" href="#">
			            
			          </a>
							</div>
							<!-- /footer logo -->

							<p>Bazar Kori Online Grocery Shopping</p>

							<!-- footer social -->
							<ul class="footer-social">
								<li><a href="#"><i class="fa fa-facebook"></i></a></li>
								<li><a href="{% url 'social:begin' 'twitter' %}"><i class="fa fa-twitter"></i></a></li>

								<li><a href="#"><i class="fa fa-instagram"></i></a></li>
								<li><a href="#"><i class="fa fa-google-plus"></i></a></li>
								<li><a href="#"><i class="fa fa-pinterest"></i></a></li>
							</ul>
							<!-- /footer social -->
						</div>
					</div>
					<!-- /footer widget -->

					<!-- footer widget -->
					<div class="col-md-3 col-sm-6 col-xs-6">
						<div class="footer">
							<h3 class="footer-header">My Account</h3>
							<ul class="list-links">
								<li><a href="#">My Account</a></li>
								<li><a href="#">My Wishlist</a></li>
								<li><a href="#">Compare</a></li>
								<li><a href="#">Checkout</a></li>
								<li><a href="#">Login</a></li>
							</ul>
						</div>
					</div>
					<!-- /footer widget -->

					<div class="clearfix visible-sm visible-xs"></div>

					<!-- footer widget -->
					<div class="col-md-3 col-sm-6 col-xs-6">
						<div class="footer">
							<h3 class="footer-header">Customer Service</h3>
							<ul class="list-links">
								<li><a href="#">About Us</a></li>
								<li><a href="#">Shiping & Return</a></li>
								<li><a href="#">Shiping Guide</a></li>
								<li><a href="#">FAQ</a></li>
							</ul>
						</div>
					</div>
					<!-- /footer widget -->

					<!-- footer subscribe -->
					<div class="col-md-3 col-sm-6 col-xs-6">
						<div class="footer">
								
								
							</form>
						</div>
					</div>
					<!-- /footer subscribe -->
				</div>
				<!-- /row -->
				<hr>
				<!-- row -->
				<div class="row">
					<div class="col-md-8 col-md-offset-2 text-center">
						<!-- footer copyright -->
						<div class="footer-copyright">
							<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
							Copyright &copy;<script>document.write(new Date().getFullYear());</script>
							<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
						</div>
						<!-- /footer copyright -->
					</div>
				</div>
				<!-- /row -->
			</div>
			<!-- /container -->
		</footer>
		<!-- /FOOTER -->

		<!-- jQuery Plugins -->
		
		<script src="{% static 'js/jquery.min.js' %}"></script>
		<script src="{% static 'js/bootstrap.min.js' %}"></script>
		<script src="{% static 'js/slick.min.js' %}"></script>
		<script src="{% static 'js/nouislider.min.js' %}"></script>
		<script src="{% static 'js/jquery.zoom.min.js' %}"></script>
		<script src="{% static 'js/main.js' %}"></script>
	</div>
</body>

</html>
