<!-- templates/home.html -->
{% extends 'base.html' %}
{% load static %}
{% block search_content %}
{% endblock %}
{% block title %}This is The Home Page{% endblock %}

{% block content %}
<!-- HOME -->
<div id="home">
	<!-- container -->
	<!--<img src="{% static 'img/logob1.png' %}"  class="img-rounded" alt="Cinque Terre" width="180" height="180">-->
	
		<div class="container">
			<!-- home wrap -->
			<div class="home-wrap">
				<!-- home slick -->
				<div id="home-slick">
					<!-- banner -->
					<div class="banner banner-1">
						<img src="{% static 'img/veg.jpeg' %}" alt="">
						<div class="banner-caption text-center">
							<h1  class="white-color font-weak" >Bazar Kori.Com</h1>
							<h3 class="white-color font-weak">we supply the best product</h3>
							<button class="primary-btn">shop now</button>
						</div>
					</div>
					<!-- /banner -->

					<!-- banner -->
					<div class="banner banner-1">
						<img src="{% static 'img/veg.jpeg' %}" alt="">
						<div class="banner-caption">
							<h1 class="primary-color">BAZAR KORI<br><span class="white-color font-weak">Save Up to 50% OFF</span></h1>
							<button class="primary-btn">Shop Now</button>
						</div>
					</div>
					<!-- /banner -->

					<!-- banner -->
					<div class="banner banner-1">
						<img src="{% static 'img/veg.jpeg' %}" alt="">
						<div class="banner-caption">
							<h1 class="white-color">New Product <span>Collection</span></h1>
							<button class="primary-btn">Shop Now</button>
						</div>
					</div>
					<!-- /banner -->
				</div>
				<!-- /home slick -->
			</div>
			<!-- /home wrap -->
		</div>
		<!-- /container -->
		<div class="container-fluid">
			<div class="page-header">
				
			</div>

			<!--Featured Products-->
			{% if featured_products %}
				{% for item in featured_products %}
								<!-- banner -->
								<p>Fetaured-{{item.title}}</p>
				{% endfor %}
			{% else %}
				
			{% endif %}
			
						<!-- /banner -->
			<!--Urls-->
			<div class="container">
				<div class="row">
			    		<div class="col-sm">
							<a href="{% url 'products' %}" class="btn btn-success">Product Page</a>
							
						</div>
						<br>
						<div class="col-sm">
							<a href="{% url 'search_result' %} "class="btn btn-info">Search Page</a>
						</div>
						<div class="col-sm">
							<a href="{% url 'speech_result' %} "class="btn btn-info">Voice Search</a>
						</div>
						<div class="col-sm">
							<a href="{% url 'auto_complete_search' %} "class="btn btn-info">Auto Complete Search</a>
						</div>
						<div class="col-sm">
							<a href="{% url 'cart_detail' %} "class="btn btn-info">Shopping Cart</a>
						</div>
						<br>
						<div class="col-sm">
							<a href="{% url 'accounts:signup' %}" class="btn btn-primary">Sign Up</a>
						</div>
						<br>
						<div class="col-sm">
							<a href="{% url 'home' %}" class="btn btn-primary">Home</a>
						</div>
				</div>
			</div>
			
			<div id="featured">
				{% for item in featured_products %}
					<h4>Feature Item-{{ item.title }}</h4>
				{% endfor %}
				
			</div>

			{% if user.is_authenticated %}

			<br>
			 <h2> username: {{ user.username }}! </h2>
			 <h2> Hi {{ user_name }}! </h2>
			 <br>

			  <a href="{% url 'logout' %}" class=" btn btn-danger">logout</a>

			{% else %}
			  <p>You are not logged in</p>
			  <a href="{% url 'login' %}" class="btn btn-primary">login</a>

			  <p><strong>-- OR --</strong></p>

			   <a href="{% url 'social:begin' 'twitter' %}" class="btn btn-primary">Login with Twitter</a>
			   <a href="{% url 'social:begin' 'github' %}" class="btn btn-primary">Login with GitHub</a>
			   
			{% endif %}
		</div>
	{% endblock %}
</div>