{% extends 'base.html' %}
{% block search_content %}
	<h2>Search Page</h2>

	{% include "snippets/search-form.html" %}

	<!--Debug Multi Search
	<h5> String Separatin={{ search_input }}</h5>
	<h5> Searched For={{ search_text }}</h5>
	
	<h5>  Searched For ={{ len_search_items }} products</h5>
	<h5>  Search Found Result  ={{ searched_products_len }} products</h5> 
	<h5> Searched For ={{ search_split }}</h5>
	<br>-->




	<div class="container">
		  <h4>Search Result Tabs</h4>

		  <ul class="nav nav-pills">
		    <li class="active"><a data-toggle="tab" href="#home">{{ search_split }}</a></li>

		    <li><a data-toggle="tab" href="#menu1">{{ search_split1 }}</a></li>

		    <li><a data-toggle="tab" href="#menu2">{{ search_split2 }}</a></li>
		    <li><a data-toggle="tab" href="#menu3">{{ search_split3 }}</a></li>
		    <li><a data-toggle="tab" href="#menu4">{{ search_split4 }}</a></li>

		  

		  <div class="tab-content">
		    <div id="home" class="tab-pane fade in active">
		    	<div>
		   
					{% if searched_products %}
					<br>
					<br>
					<br>
					<h5>Searched For {{ search_split }} </h5>

					<ul>

						{% for item in searched_products %}
						

						<li> <a href="{% url 'detail' item.id %}">{{ item.title }}</a></li>

						{% endfor %}
					</ul>

					{% else %}

					<br>
					<br>
					<h5>No Result</h5>

					{% endif %} 
				</div>

		      
		    </div>

		    <div id="menu1" class="tab-pane fade">
		      
			    <div>
				    {% if searched_products1 %}
				    <br>
					<br>
					<br>
				    <h5>Searched For {{ search_split1 }} </h5>
						<ul>
							{% for item in searched_products1 %}
							

							<li> <a href="{% url 'detail' item.id %}">{{ item.title }}</a></li>

							{% endfor %}
						</ul>

						{% else %}

						<br>
						<br>
						<h5>No Result</h5>
					{% endif %}
				</div>
		    </div>

		    <div id="menu2" class="tab-pane fade">
				
				<div>	      
					{% if searched_products2 %}
					<br>
					<br>
					<br>
					<h5>Searched For {{ search_split2 }} </h5>
					<ul>
						
					{% for item in searched_products2 %}
							

					<li> <a href="{% url 'detail' item.id %}">{{ item.title }}</a></li>

					{% endfor %}
					</ul>

					{% else %}


					<br>
					<br>
					<h5>No Result</h5>

					{% endif %}
				</div>
			</div>

			<div id="menu3" class="tab-pane fade">
				
				<div>	      
					{% if searched_products3 %}
					<br>
					<br>
					<br>
					<h5>Searched For {{ search_split3 }} </h5>
					<ul>
						
					{% for item in searched_products3 %}
							

					<li> <a href="{% url 'detail' item.id %}">{{ item.title }}</a></li>

					{% endfor %}
					</ul>

					{% else %}


					<br>
					<br>
					<h5>No Result</h5>

					{% endif %}
				</div>
			</div>

			<div id="menu4" class="tab-pane fade">
				
				<div>	      
					{% if searched_products4 %}
					<br>
					<br>
					<br>
					<h5>Searched For {{ search_split4 }} </h5>
					<ul>
						
					{% for item in searched_products4 %}
							

					<li> <a href="{% url 'detail' item.id %}">{{ item.title }}</a></li>

					{% endfor %}
					</ul>

					{% else %}


					<br>
					<br>
					<h5>No Result</h5>

					{% endif %}
				</div>
			</div>

		    


		</div>
	</div>










{% endblock %}


