{% extends 'base.html' %}

{% block content %}

  <!-- CSS Styles -->
  <style>
    .speech {border: 1px solid #DDD; width: 300px; padding: 0; margin: 0}
    .speech input {border: 0; width: 240px; display: inline-block; height: 30px;}
    .speech img {float: right; width: 40px }
  </style>

  <div class="container">
    <!-- Search Form -->
    <form id="labnol" method="post">
      {% csrf_token %}
      <div class="speech">
        <input type="text" name="q" id="transcript" placeholder= "{{ speech_input }}" />
        <img id="mic_img" onclick="startDictation()" src="//i.imgur.com/cHidSVu.gif" />
        
      </div>
    </form>
    <p id="demo" class="text-danger"></p>
</div>

<div class="search_result">

  {% if searched_products %}
  <h3>Search Results</h3>
  {% for item in searched_products %}
            

            <li> <a href="{% url 'detail' item.id %}">{{ item.title }}</a></li>

  {% endfor %}
  {% endif %}
</div>
  <!-- HTML5 Speech Recognition API -->
  <script>
    function startDictation() {

      if (window.hasOwnProperty('webkitSpeechRecognition')) {

        var recognition = new webkitSpeechRecognition();

        recognition.continuous = false;
        recognition.interimResults = false;

        recognition.lang = "en-US";
        //recognition.lang = "bn-BD";
        recognition.start();
        mic_img.src="https://s3.amazonaws.com/images.seroundtable.com/google-voice-search-1413374736.gif";

        recognition.onresult = function(e) {
          document.getElementById('transcript').value
                                   = e.results[0][0].transcript;
          recognition.stop();
          document.getElementById('labnol').submit();
        };

        recognition.onerror = function(e) {
          recognition.stop();
        }
        greeting = ""
        
      }
      else{
        greeting = "Error Listening <br> *Use Updated Chrome Browser"

      }

      document.getElementById("demo").innerHTML = greeting;
    }
  </script>

{% endblock %}